Providers/Messaging/Pure360/Protean.Providers.Messaging.Pure360/Web References/com.pure360.paint/controller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.pure360.com/paint" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="controller" targetNamespace="http://www.pure360.com/paint" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.pure360.com/paint">
      <xsd:complexType name="paintArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="pairs" type="tns:paintKeyValuePair" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="paintKeyValuePair">
        <xsd:all>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="0" name="str" type="xsd:string" />
                <xsd:element minOccurs="0" name="arr" type="tns:paintArray" />
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="paintRequest">
    <wsdl:part name="contextId" type="xsd:string" />
    <wsdl:part name="className" type="xsd:string" />
    <wsdl:part name="processName" type="xsd:string" />
    <wsdl:part name="entityData" type="tns:paintArray" />
    <wsdl:part name="processData" type="tns:paintArray" />
  </wsdl:message>
  <wsdl:message name="paintResponse">
    <wsdl:part name="Result" type="tns:paintArray" />
  </wsdl:message>
  <wsdl:portType name="paintPortType">
    <wsdl:operation name="handleRequest">
      <wsdl:input message="tns:paintRequest" />
      <wsdl:output message="tns:paintResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="paintBinding" type="tns:paintPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="handleRequest">
      <soap:operation soapAction="urn:localhost-paint#handleRequest" />
      <wsdl:input>
        <soap:body use="literal" namespace="urn:localhost-paint" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="urn:localhost-paint" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="paintService">
    <wsdl:port name="paintPort" binding="tns:paintBinding">
      <soap:address location="http://paint.pure360.com/_bus/request.soap?use=literal" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>